![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2560px-Pandas_logo.svg.png)

## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import numpy as np
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# <span style="color: aqua">**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**</span>

In [3]:
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

# <span style="color: aqua">**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**</span>

In [4]:
np.round(data.age[data.sex == 'Male'].mean())

39.0

# <span style="color: aqua">**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**</span>

In [5]:
data['native-country'][data['native-country'] == 'United-States'].count() / data.shape[0]

0.895857006848684

# <span style="color: aqua">**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**</span>

In [6]:
data.groupby('salary')['age'].agg(['mean', 'std'])

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

# <span style="color: aqua">**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**</span>

In [7]:
# нет, не правда, встречаются люди, которые закончили несколько классов школы
data['education'][data.salary == '>50K'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [8]:
# докажем, что есть люди, которые закончили не более 4 классов и зарабатывают более 50K
data[data.education == '1st-4th'].sort_values(by='salary')[-6:]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2817,41,Private,237321,1st-4th,2,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,>50K
10264,52,Private,177995,1st-4th,2,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,56,Mexico,>50K
19576,53,Self-emp-not-inc,145419,1st-4th,2,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,67,Italy,>50K
29322,60,Private,532845,1st-4th,2,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Mexico,>50K
13682,52,Private,117295,1st-4th,2,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
21097,54,Private,167552,1st-4th,2,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,Haiti,>50K

# <span style="color: aqua">**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**</span>

In [9]:
task7 = data.groupby(['race', 'sex']).agg('age').describe()
task7

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

In [10]:
# найдем максимальный возраст мужчин расы Asian-Pac-Islander
task7.loc['Asian-Pac-Islander'].loc['Male']['max']

90.0

# <span style="color: aqua">**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**</span>

In [11]:
def is_married(status: str) -> bool:
    return status.lower().startswith('married')


def not_married(status: str) -> bool:
    return not status.lower().startswith('married')


mask_1 = data['marital-status'].apply(func=is_married)  # статус связаный с браком
married = data[mask_1]
male_married = married[married.sex == 'Male']
rich_married = male_married.salary.value_counts()[1] / male_married.shape[0]
print(f'Доля богатых женатых мужчин {rich_married * 100:.4f} %')

mask_2 = data['marital-status'].apply(func=not_married)  # статус связаный с безбрачием
not_married = data[mask_2]
male_not_married = not_married[not_married.sex == 'Male']
rich_not_married = male_not_married.salary.value_counts()[1] / male_not_married.shape[0]
print(f'Доля богатых холостых мужчин {rich_not_married * 100:.4f} %')

Доля богатых женатых мужчин 44.0514 %
Доля богатых холостых мужчин 8.4495 %

### Как видим доля женатых богатых мужчин примерно в 5.5 раз больше чем аналогичная доля холостых

# <span style="color: aqua">**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**</span>

In [12]:
# максимальное число часов работы в неделю
max_hours = data['hours-per-week'].max()
max_hours

99

In [13]:
# число людей работающих максимально часов в неделю
people_work_max_hours = data[data['hours-per-week'] == max_hours].shape[0]
people_work_max_hours

85

In [14]:
percent_rich_work_hard = data[data['hours-per-week'] == max_hours].salary.value_counts()[1] / people_work_max_hours
print(f'Доля богатых трудоголиков {percent_rich_work_hard * 100:.4f} %')

Доля богатых трудоголиков 29.4118 %

# <span style="color: aqua">**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**</span>

In [20]:
# количество жителей каждой страны из датасета
data['native-country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [26]:
# выводим среднее время работы
task_10 = data.groupby(['native-country', 'salary'])['hours-per-week'].agg(['mean'])
task_10

                            mean
native-country salary
?              <=50K   40.164760
               >50K    45.547945
Cambodia       <=50K   41.416667
               >50K    40.000000
Canada         <=50K   37.914634
...                          ...
United-States  >50K    45.505369
Vietnam        <=50K   37.193548
               >50K    39.200000
Yugoslavia     <=50K   41.600000
               >50K    49.500000

[82 rows x 1 columns]

### Из вывода видно, что почти во всех странах те, кто зарабатывает больше 50 K, в среднем работают больше

# <span style="color: aqua">**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**</span>
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [28]:
def age_group(age):
    if age < 35:
        return 'young'
    elif age < 70:
        return 'adult'
    return 'retiree'


data['AgeGroup'] = data['age'].apply(func=age_group)
data['AgeGroup'].value_counts()

adult      17883
young      14049
retiree      629
Name: AgeGroup, dtype: int64

# <span style="color: aqua">**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**</span>

In [34]:
# Выводим количество людей из каждой группы, которые зарабатывают много в своем возрасте
rich = data[data.salary == '>50K']
rich_age_group = rich.groupby('AgeGroup')['salary'].value_counts()
rich_age_group

AgeGroup  salary
adult     >50K      6240
retiree   >50K       113
young     >50K      1488
Name: salary, dtype: int64

In [55]:
# Выводим самое частую группу из богатых
rich.AgeGroup.mode()[0]

'adult'

# <span style="color: aqua">**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**</span>

In [56]:
# количество людей каждой категории (без группировки)
work = data.occupation.value_counts()
work

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [65]:
# функция фильтрации
def filter_func(df):
    filtered = df[(df.age <= 40) & (df['hours-per-week'] > 5)]
    return filtered.occupation.unique().tolist()


task_14 = filter_func(data)
task_14

['Adm-clerical',
 'Handlers-cleaners',
 'Prof-specialty',
 'Exec-managerial',
 'Sales',
 'Craft-repair',
 'Transport-moving',
 'Farming-fishing',
 'Machine-op-inspct',
 'Protective-serv',
 'Other-service',
 'Tech-support',
 '?',
 'Armed-Forces',
 'Priv-house-serv']

### Получим те же профессии, но людей, удовлетворяющих фильтру уже меньше